<h1 class="container bg-dark text-white text-center my-4 py-4"> [ngClass]</h1>

<div class="container">
  <button type="button " style="float:left" class="btn btn-warning" (click)="status = 'primero'" >Boton 1</button>
  <button type="button "  style="float: right" class="btn btn-dark" (click)="status = 'segundo'">Boton 2</button>
<br><br><br>

  <div class="text-info " [ngClass]="status === 'primero' ? 'd-block':'d-none'">
    <app-cabecera></app-cabecera>
  </div>


  <div class="text-info bg-dark " [ngClass]="status === 'segundo' ? 'd-block':'d-none'" style="text-align:center" >
  Proxima seccion
  </div>
  <app-footer></app-footer>

</div>