<div class="mt-2 mb-5 container rounded shadow text-nowrap bg-dark border text-center centered colorText"style="width:all; color:rgb(105, 197, 240);">
    {{titlePokeAPI}}
    <h2 class="rounded">[ngFor]</h2>    


<div class="container shadow p-3 mb-5 bg-body rounded">

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>URL</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let objeto of arrayPokemon; index as i">
                <th>{{(i + 1) +(offset  * (currentPage -1))}}</th>
                <td>{{objeto.name}}</td>
                <td>{{objeto.url}}</td>
                <td><img src="{{arrayPokeImg[i]}}" class="img-thumbnail">
                </td>
            </tr>
        </tbody>
    </table>
    <div style="text-align: center; color: black;">Pagina: 
        <input style="width:45px" type="number" id="page" name="page" required minlength="1">
        <button type="button " class="btn btn-dark" (click)="newPage()">Ir</button>
    </div>
</div>
</div>
